/*
  在线代码 loading 的
 */
@font-face {
  font-family: 'iconfont';  /* project id："176693" */
  src: url('//at.alicdn.com/t/font_0mqsiqk6q32nvcxr.eot');
  src: url('//at.alicdn.com/t/font_0mqsiqk6q32nvcxr.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0mqsiqk6q32nvcxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_0mqsiqk6q32nvcxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0mqsiqk6q32nvcxr.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.loading__wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.loading,
.icon-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.icon-loading {
  z-index: 200;
  margin: -20px 0 0 -20px;
  color: rgba(76, 76, 76, .8);
  font-size: 40px;
  line-height: 1;
  text-align: center;
  background-color: transparent;

  animation: circle 1s linear infinite;
}

.loading {
  z-index: 5;
  margin: - 25px 0 0 -25px;
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 4px;
}

@keyframes circle {
   0% {
    transform: rotateZ(0deg);
   }
   100% {
    transform: rotateZ(360deg);
   }
}
